*.log
*.out
*.swp
*.bak
*.tmp
*.temp

node_modules/
temp/
tmp/
logs/
browser_profile


.idea/
.vscode/
.DS_Store
Thumbs.db

.env
.env.local
.env.*.local
.env.test
.env.test.local
.env.production
.env.production.local

